{% extends 'base.html' %}
{% block content %}

<h1>Add A Post</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <p>
    <label for="id_description">Description:</label>
    <textarea
      name="description"
      cols="40"
      rows="10"
      maxlength="10000"
      required=""
      id="id_description"
    >{{ form.description.value }}</textarea>
  </p>

  <label for="id_image">Photo:</label><br>
  <input type="file" name="image" id="id_image" required />
  <br /><br />

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>

{% endblock %}
